# Ignore all files by default
*

# Ignore specific files and directories
*_creds.txt
./cnn
./output_notebook/**

# Whitelist specific file types and files globally
!*.py
!*.ipynb
!.gitignore
!*.sh
!.yml

# Ignore everything in Old, then specifically whitelist only .py and .ipynb
./Old/**
!./Old/*.py
!./Old/*.ipynb
